<%= form_tag "/share_to" do %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>id</th>
      <th>user</th>
      <th>time</th>
      <th>comment</th>
      <th>operate</th>
    </tr>
  </thead>
  <tbody>
    <% @current_project.each do |episode| %>
    <tr>
      <td><%= check_box_tag "episode[episode_ids][]", episode.id %></td>
      <td><%= episode.id %></td>
      <td><%= episode.user.name %></td>
      <td><%= episode.created_at %></td>
      <td><%= episode.comment %></td>
      <td>
         <%= link_to edit_project_path(episode),
          class:"btn btn-primary btn-small" do %>
          <i class="icon-white icon-edit"></i> Edit
        <% end %>
        &nbsp;&nbsp;
        <%= link_to episode, method: :delete,
          data: { confirm: "You sure?" }, 
          class:"btn btn-danger btn-small" do %>
          <i class="icon-white icon-remove"></i> Delete
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= collection_select('user', 'id', @users, :first, :last, {}, html_options={"class"=>"tt"}) %>
<br />
<%= link_to "Cancel", unshare_path,
            class: "btn btn-large btn-default" %>
&nbsp;&nbsp;&nbsp;&nbsp;
<%= submit_tag "Finish", :class => "submit", class: "btn btn-large btn-primary" %>
<% end %>
