<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>user</th>
      <th>time</th>
      <th>comment</th>
      <th>operate</th>
    </tr>
  </thead>
  <tbody>
    <% @current_project.each do |episode| %>
    <tr>
      <td><%= episode.id %></td>
      <td><%= episode.user.name %></td>
      <td><%= episode.created_at %></td>
      <td><%= episode.comment %></td>
      <td>
         <%= link_to edit_project_path(episode),
          class:"btn btn-primary btn-mini" do %>
          <i class="icon-white icon-edit"></i> Edit
        <% end %>
        &nbsp;&nbsp;
        <%= link_to episode, method: :delete,
          data: { confirm: "You sure?" }, 
          class:"btn btn-danger btn-mini" do %>
          <i class="icon-white icon-remove"></i> Delete
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
<%= link_to "Share", share_path,
            class: "btn btn-default btn-primary" %>
</div>

